
CRUD_Personas_BBDD_Azure/BussinesLogic/bin/

CRUD_Personas_BBDD_Azure/BussinesLogic/obj/

CRUD_Personas_BBDD_Azure/CRUD_Personas_BBDD_Azure_ASP.NET(MVC)/bin/

CRUD_Personas_BBDD_Azure/CRUD_Personas_BBDD_Azure_ASP.NET(MVC)/obj/

CRUD_Personas_BBDD_Azure/CRUD_Personas_BBDD_Azure_UWP/obj/

CRUD_Personas_BBDD_Azure/DAL/bin/

CRUD_Personas_BBDD_Azure/DAL/obj/

CRUD_Personas_BBDD_Azure/Entities/bin/

CRUD_Personas_BBDD_Azure/Entities/obj/

CRUD_Personas_BBDD_Azure/.vs/CRUD_Personas_BBDD_Azure/config/applicationhost.config
